#main-navbar {
    align-items: center;
}

#website-name-container {
    background-color: transparent;
    h1 {
        font-family: $navbar-font;
        color: white;
        span {
            transition: color $transition-instant $transition-ease;
            color: $primary-color;
        }
    }

    &:hover {
        h1 {
            span {
                color: $secondary-color;
            }
        }
    }
}

#nav-btns-container {
    margin-left: auto;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

#nav-bars-icon-xs {
    display: none;
}

@media (max-width: #{$breakpoint-xs}) {
    #main-navbar {
        padding: $spacing-xs;
        flex-wrap: wrap;
        height: 100px;
    }

    #bars-icon-btn {
        display: none !important;
    }

    #nav-bars-icon-xs {
        display: inline;
    }

    #website-name-container {
        margin: auto;
    }

    #nav-btns-container {
        flex-basis: 100%;
    }
}
