.main-sidebar {
    :last-child {
        border-bottom: none;
    }
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border-bottom: 1px solid $border-color;

    :first-child {
        margin-top: $spacing-small;
    }
}

.open {
    transition: transform $transition-duration-base;
}

.close {
    transition: transform $transition-duration-base;
}

.sidebar-link {
    color: white;
    text-wrap: nowrap;
    margin-bottom: $spacing-small;
    padding: $spacing-xsmall $spacing-medium;
    border-radius: $border-radius-xs;
    transition: $transition-ease $transition-duration-base;
    width: 100%;

    &:hover{
        width: calc(100% - $spacing-xsmall);
        background-color: rgba(36, 36, 36, 0.653);
        transform: translateX($spacing-xsmall);
    }
}

@media (max-width: #{$breakpoint-lg}) {
    #main-sidebar.open{
        transform: translateX(0px);
    }
}