#bars-icon-button {
    display: none;
    position: relative;
    top: $spacing-xsmall;
    background-color: transparent;
    margin-right: $spacing-small;
}

rect.bars {
    transition: width $transition-duration-base;
    fill: $border-color-full-opacity;
}

#bars-icon-button:hover {
    #bottom-bar {
        width: 70px;
    }
}

