// Navbar
#bars-icon-button {
    display: none;
    position: relative;
    top: $spacing-xs;
    background-color: transparent;
    margin-right: $spacing-sm;
}

rect.bars {
    transition: width $transition-instant;
    fill: $gray-light;
}

#bars-icon-button:hover {
    #bottom-bar {
        width: 70px;
    }
}

// Auth
.auth-form-confirm {
    margin: auto;
    background-color: $primary-color;
    padding: $spacing-sm;
    border-radius: $border-radius-lg;
    color: black;
    width: 100%;
    max-width: 200px;
    margin-bottom: $spacing-md;
}