#bars-icon-button {
    display: none;
    position: relative;
    top: $spacing-xsmall;
    background-color: transparent;
    margin-right: $spacing-small;
    rect {
        transition: $transition-duration-base;
        transform-origin: center;
        -webkit-transform-origin: center;
        fill: $border-color-full-opacity;
    }
}

#bars-icon-button:hover{
    rect {
        width: 80px;
        y: 45;
    }

    #top-bar {
        y:45;
        width: 80px;
        transform: rotate(45deg); /* Use full transform */
        -webkit-transform: rotate(45deg); /* Safari compatibility */
      }
    
    #bottom-bar {
        y:45;
        width: 80px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

