// player cards
#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

    > * {
        margin-left: $spacing-md;
    }
}

#player-clan {
    display: flex;
    align-items: center;
    padding: $spacing-md $spacing-sm $spacing-md $spacing-md;
    background-color: $secondary-background-color;
    border-radius:  $border-radius-sm 0 0 $border-radius-sm;
    border-right: 3px solid $primary-color;
    height: 125px;
}

@media (max-width: #{$breakpoint-xs}) {
    #cards-container {
        justify-content: left;
    }

    #player-clan {
        border-radius:  0 $border-radius-sm $border-radius-sm 0;
        border-right: none;
        border-left: 3px solid $primary-color;
        margin-left: 0;
        margin-top: $spacing-sm;
    }
}

#player-clan-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        > p {
            display: inline-block;
            text-align: right;
        }
    }
}

#player-clan-title {
    font-size: 18px;
    color: $primary-color;
}

#player-clan-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 $spacing-xs 0 $spacing-sm;
    width: 50px;
    position: relative;
}

#player-clan-badge {
    margin: auto;
    height: 55px;
}

// units
.unit-section {
    padding: 0 $spacing-md;

    h3 {
        font-size: 18px;
        margin: $spacing-sm 0 0 0;
        p {
            display: inline;
            font-size: 20px;
            color: $primary-color;
        }
    }
}

.units-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.unit-container {
    position: relative;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: $border-radius-xs;
    background-color: $primary-background-color;
    overflow: hidden;
    display: inline-block;
    margin: 0 $spacing-xs $spacing-xs 0;
}

.hero-troop-container {
    margin-bottom: 0;
    margin-right: $spacing-sm;
}

.hero-unit-container {
    margin-bottom: 0;
    margin-right: $spacing-sm;
}

.unit-level {
    width: 18px;
    height: 18px;
    border-radius: $border-radius-xs;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-background-color;
    position: absolute;
    padding-top: 1px;
    bottom: 0px;
    left: 0px;
}

.max-level {
    color: $primary-color;
}

.unit-img {
    aspect-ratio: 1/1;
    width: inherit;
    height: inherit;
}

.hero-equipment {
    display: flex;
    flex-direction: row;
    width: 40px;
    background-color: $primary-background-color;
    border-radius: $border-radius-xs;
    margin-bottom: $spacing-sm;
}

.hero-item {
    width: 20px;
}

#super-troop-header {
    margin-bottom: $spacing-sm;
}

// About Page - Team Member Cards
.team-member-card {
    @include flex(row, initial, center);
    border-left: 3px solid $primary-color;
    margin-bottom: $spacing-md;
    padding: $spacing-sm $spacing-md;
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
    background-color: $secondary-background-color;
    width: 100%;
    max-width: 400px;

    .team-member-pfp {
        margin-right: $spacing-md;
        aspect-ratio: 1/1;
        border-radius: $border-radius-c;
        width: 50px;
    }

    .team-member-info {
        div {
            text-align: left;
        }

        .team-member-role {
            color: $gray-lighter;
        }
    }
}

@media (max-width: 550px) {
    .team-member-card {
        margin: auto;

        .team-member-pfp {
            margin-left: $spacing-sm;
        }

        .team-member-info {
            margin-left: 4%;
        }
    }
}