// ==========================
// General
// ==========================
form {
    margin: $spacing-md;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    background-color: $primary-background-color;
    padding: $spacing-sm;
    transition: border-bottom $transition-base;
    outline: none;
    border-bottom: 2px solid color-fade($primary-color, 0.25);
    font-family: $primary-font;
    width: 100%;

    &::placeholder {
        transition: color $transition-fast;
    }

    &:focus {
        border-bottom: 2px solid $primary-color;
    }

    &:focus::placeholder {
        color: $gray-lighter;
    }
}

input[type="checkbox"] {
    @include box(10px);
    appearance: none;
    background-color: $gray-lighter;
    position: relative;
    border-radius: 5px;
    transition: $transition-ease 0.1s;

    &:hover {
        background-color: $gray-light;
    }

    &:checked {
        background-color: $primary-color;
    }
}

input[type="search"] {
    margin-bottom: $spacing-lg;
    font-family: $primary-font;
    max-width: 700px;
    background-color: $secondary-background-color;
    width: 100%;
    border: 1px solid $gray;
    text-decoration: none;
    outline: none;
    padding: 0px $spacing-md;
    transition: border-color $transition-fast;

    &:focus {
        border: 1px solid $primary-color;
    }
}

// ==========================
// Auth Page
// ==========================
.auth-form {
    @include flex(column, center, center);
    width: 50%;

    > * {
        margin-bottom: $spacing-md;
    }
}

#login-form {
    padding-left: $spacing-md;
}

#signup-form {
    padding-right: $spacing-md;
}

.sign-log-header {
    text-align: center;
    color: $primary-color;
    transition: opacity $transition-base;
}

.auth-input-container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    .auth-input-icon {
        position: absolute;
        height: 100%;
        display: flex;
        left: $spacing-sm;
    }
}

.auth-input {
    padding-left: 30px !important;
}

#auth-tos-container {
    text-align: center;
    p,
    a {
        font-size: $font-size-sm;
        color: $gray-lighter;
    }

    a {
        color: $primary-color;
    }
}

.forgot-already-link {
    margin-bottom: $spacing-sm !important;
    text-align: center;
    color: $gray-lighter;
    font-size: 11px;
    display: inline;
    transition: color $transition-instant;

    &:hover {
        color: $primary-color;
    }
}

@media(max-width: 700px)  {
    .auth-form {
        position: absolute;
        padding-right: 0 !important;
        padding-left: 0 !important;
        width: calc(100% - 2*$spacing-md);
        padding: 0 $spacing-md !important;
    }

    .auth-input-container {
        max-width: 430px;
    }
}

// ==========================
// Contact Page
// ==========================
#contact-naming-container {
    @include flex(row, space-between);
    width: 100%;
}

.contact-name-section {
    display: flex;
    flex-direction: column;
    width: 50%;

    input {
        width: 100%;
    }
}

#first-name-section {
    margin-right: $spacing-sm;
}

#contact-create-message {
    @include flex(column);
    border: 2px solid $primary-color;
    border-radius: $border-radius-sm;
    padding: $spacing-md;
    margin-top: $spacing-md;
    margin-left: $spacing-md;
    width: calc(100% - $spacing-md);
    min-width: 50%;

    h4 {
        font-size: $font-size-md;
        margin: 0 0 $spacing-sm 0;
        text-wrap: nowrap;
    }

    input,
    textarea {
        background-color: $secondary-background-color;
    }

    input {
        margin-bottom: $spacing-sm;
    }

    textarea {
        @include box(100%, 80px);
        resize: none;
    }
}

// ==========================
// Search Page
// ==========================
#player-clan-search {
    @include flex(row, center);
    width: 100%;

    > * {
        height: 50px;
    }
}

// ==========================
// Season Page
// ==========================
.comment-input-field {
    width: calc(100% - 2 * $spacing-sm) !important;
    margin: $spacing-sm;
}
