#player-clan {
    display: flex;
    align-items: center;
    padding: $spacing-medium;
    background-color: $secondary-background-color;
    border-radius:  $border-radius-sm;
}

#player-clan-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
        font-size: 15px;
    }
}

#player-clan-title {
    font-size: 18px;
    color: $primary-color;
}

#player-clan-badge {
    height: 70px;
    margin-left: $spacing-small;
}