#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

    > * {
        margin-left: $spacing-medium;
    }
}

#player-clan {
    display: flex;
    align-items: center;
    padding: $spacing-medium $spacing-small $spacing-medium $spacing-medium;
    background-color: $secondary-background-color;
    border-radius:  $border-radius-sm 0 0 $border-radius-sm;
    border-right: 3px solid $primary-color;
    height: 125px;
}

@media (max-width: 460px) {
    #cards-container {
        justify-content: left;
    }

    #player-clan {
        border-radius:  0 $border-radius-sm $border-radius-sm 0;
        border-right: none;
        border-left: 3px solid $primary-color;
        margin-left: 0;
        margin-top: $spacing-small;
    }


}

#player-clan-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        > p {
            display: inline-block;
            text-align: right;
        }
    }
}

#player-clan-title {
    font-size: 18px;
    color: $primary-color;
}

#player-clan-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 $spacing-xsmall 0 $spacing-small;
    width: 50px;
    position: relative;
}

#player-clan-badge {
    margin: auto;
    height: 55px;
}

#progress-base-cards {
    display: flex;
    flex-direction: row;
    border: 1px solid $primary-color;
    > * {
        border: 1px solid $secondary-background-color;
    }
}

@media (max-width: #{$breakpoint-sm}) {
    #progress-base-cards {
        display: none;
    }
}