#player-home-data {
    margin-right: 1%;
}

#player-builder-data {
    height: min-content;
    margin-left: 1%;
}

.player-base-container {
    border-radius: $border-radius-xs;
    background-color: $secondary-background-color;
    padding-bottom: $spacing-small;
}

.player-base-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid $primary-color;
    background-color: $primary-background-color;
}

.player-base-header {
    padding: $spacing-small $spacing-medium;
    color: $primary-color;
}

.player-base-header-trophies {
    padding: 0 0 $spacing-small $spacing-medium;
    display: flex;
    color: $offwhite-two;
    align-items: center;
    p {
        font-size: 15px;
        color: $offwhite-two;
    }
    .trophy-icon {
        fill: $offwhite-two;
        height: 24px;
        margin-left: $spacing-xsmall;
    }
}

.hall-container {
    position: relative;
    padding: 0 0 0 $spacing-xsmall;
}

.hall-level{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: $border-radius-xs;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-background-color;
    bottom: 10px;
    left: 0px;
}

.weapon-level {
    position: absolute;
    border-radius: $border-radius-xs;
    display: flex;
    padding: $spacing-xsmall;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    right: 0px;
}

.weapon-level-star {
    width: 14px;
    height: 14px;
}

.hall-img{
    padding: 0 $spacing-medium 0 $spacing-xsmall;
    height: 70px;
    align-self: center;
}