#player-general-info-section {
    width: min-content;
}

#player-data-bar {
    display: flex;
    align-items: flex-start;
}

#player-rank-icon {
    margin-left: $spacing-small;
    height: 45px;
}

.player-league {
    white-space: nowrap;
    display: flex;
    p {
        color: $primary-color;
    }
}

#player-username {
    color: $primary-color;
    margin-bottom: $spacing-xsmall;
    font-size: 35px;
}

#player-xp-container {
    display: flex;
    align-items: center;
}

#xp-icon {
    height: 20px;
    margin-right: $spacing-xsmall;
}

#player-level {
    color: $offwhite-two;
}

#player-tag {
    color: $offwhite-two;
}

#player-labels {
    margin: $spacing-xsmall 0;
    display: flex;
}

.player-label {
    width: 40px;
}

#achievements-container {
    padding-bottom: $spacing-small;
}

.base-ach-container {
    background-color: $secondary-background-color;
    border-radius: 0 0 $border-radius-xs $border-radius-xs;
}

.base-ach-container > div:last-child{
    border-bottom: none;
}

.base-ach-header {
    padding: $spacing-small $spacing-medium;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
}

.ach-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spacing-medium;
    border-bottom: 0.5px solid white;
}

.ach-stars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: min-content;
    margin-right: $spacing-medium;
}

.ach-star {
    width: 25px;
}

.ach-star-empty {
    width: 25px;
    opacity: 50%;
    filter: grayscale(40%)
}

.ach-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 60%;
    margin-right: $spacing-medium;
}

.ach-name {
    color: $primary-color;
}

.ach-progress {
    text-align: right;
    margin-left: auto;
}

.ach-completion {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    p {
        font-size: 13px;
        color: $offwhite-two;
    }
}

.ach-progress-bar {
    opacity: 0.8;
    border-radius: $border-radius-lg;
    width: 170px;
    height: 10px;
    background-color: gray;
    position: relative;
}

.ach-fill-bar {
    border-radius: $border-radius-lg;
    width: 10px;
    height: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $primary-color;
}

.ach-progress-text {
    text-align: center;
    margin-bottom: $spacing-small;
}

.ach-check {
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    margin-left: $spacing-small;
    fill: lime;
    font-size: 15px;
}

.ach-percentage {
    display: none;
    color: $offwhite-two;
}

@media (max-width: 700px) {
    .ach-completion-note, .ach-progress-bar, .ach-progress-text{
        display: none;
    }

    .ach-percentage {
        display: inline;
    }
}