#player-general-info-section {
    width: min-content;
}

#player-data-bar {
    display: flex;
    align-items: flex-start;
}

#player-rank-icon {
    margin-left: $spacing-small;
    height: 45px;
}

.player-league {
    white-space: nowrap;
    display: flex;
    p {
        color: $primary-color;
    }
}

#player-username {
    color: $primary-color;
    margin-bottom: $spacing-xsmall;
    font-size: 35px;
}

#player-xp-container {
    display: flex;
    align-items: center;
}

#xp-icon {
    height: 20px;
    margin-right: $spacing-xsmall;
}

#player-level {
    color: $offwhite-two;
}

#player-tag {
    color: $offwhite-two;
}

#player-labels {
    margin: $spacing-xsmall 0;
    display: flex;
}

.player-label {
    width: 40px;
}

#achievements-container {
    // border: 1px solid lime;
}

.ach-container {
    border: 1px solid magenta;
}