#cards-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

    > * {
        margin-left: $spacing-medium;
    }
}

.trophy-card {
    background-color: $secondary-background-color;
    padding: $spacing-medium;
    border-radius:  $border-radius-sm 0 0 $border-radius-sm;
    border-right: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div,p {
        font-size: 15px;
    }
}

.trophy-card-header {
    font-size: 20px;
    color: $primary-color;
    white-space: nowrap;
}

.trophy-card-label {
    display: inline;
}

// Change to a proper size after testing with different clan name lengths
@media (max-width: 830px) {
    .trophy-card {
        display: none;
    }
}