.troop-section {
    padding: 0 $spacing-medium;

    h3 {
        font-size: 25px;
        margin: $spacing-small 0;
    }
}

.troops-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.troop-container {
    position: relative;
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: $border-radius-xs;
    background-color: $primary-background-color;
    overflow: hidden;
    display: inline-block;
    margin: 0 $spacing-small $spacing-small 0;
}

.troop-level {
    width: 20px;
    height: 20px;
    border-radius: $border-radius-xs;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-background-color;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.max-level {
    color: $primary-color;
}


.unit-img {
    aspect-ratio: 1/1;
    width: inherit;
    height: inherit;
}