// Auth
@keyframes swipe-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes swipe-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}