// About Page
#about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about-us-title {
    width: min-content;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 $spacing-sm;
    font-size: 30px;
    margin-bottom: $spacing-md;
    padding-bottom: $spacing-sm;
    border-bottom: 2px solid white;

    p {
        color: $primary-color;
        display: inline;
        font-size: 30px;
    }
}

#about-us-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us-description {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: $spacing-md;
    .desc-paragraph {
        margin-bottom: $spacing-sm;
    }
}

#team-member-container {
    display: flex;
    margin-left: $spacing-lg;
    justify-content: center;
    flex-wrap: wrap;
    height: min-content;
}

.team-member-card {
    border-left: 2px solid $primary-color;
    margin-bottom: $spacing-md;
    margin-right: $spacing-md;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: $spacing-sm $spacing-md;
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
    background-color: $secondary-background-color;
    width: 320px;

    .team-member-pfp {
        margin-right: $spacing-md;
        aspect-ratio: 1/1;
        border-radius: $border-radius-c;
        width: 50px;
    }

    .team-member-info {
        div {
            text-align: left;
        }

        .team-member-role {
            color: $gray-lighter;
        }
    }
}

@media (max-width: 780px) {
    .team-member-card {
        width: 180px;
        flex-direction: column;

        .team-member-info {
            div {
                text-align: center !important;
            }
        }
    }
}