#about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about-us-title {
    width: min-content;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 $spacing-sm;
    margin-bottom: $spacing-md;
    padding-bottom: $spacing-sm;

    h3 {
        color: $primary-color;
        display: inline;
    }
}

#about-us-body {
    @include flex(column, center)
}

#about-us-description {
    @include flex(column);
    font-size: $font-size-md;
    margin-bottom: $spacing-md;
    .desc-paragraph {
        margin-bottom: $spacing-sm;
    }
}

#team-member-container {
    @include flex(row, center);
    margin-left: $spacing-lg;
    flex-wrap: wrap;
    height: min-content;
}