// Auth Page
#auth-container {
    @include flex(row, center);
    @include box(100%);
}

#sign-log-container {
    @include flex(row);
    overflow: hidden;
    margin: auto 0;
    background-color: $secondary-background-color;
    border-radius: $border-radius-sm;
    width: 100%;
    max-width: 800px;
    min-height: 300px;
    position: relative;
    padding: $spacing-md;
    transition: height $transition-base;
}

#art-slider {
    transition: transform $transition-base;
    position: absolute;
    height: calc(100% - 2 * $spacing-md);
    width: calc(50% - $spacing-md);
    background-color: white;
    border-radius: $border-radius-lg;
    @include flex(row, center);
    background-color: transparent;

    img {
        object-fit: cover;
        @include box(100%);
        border-radius: $border-radius-sm;
    }

    h3 {
        font-size: $font-size-lg;
        position: absolute;
        bottom: $spacing-lg;
        right: -1px;
        background-color: $secondary-background-color;
        padding: $spacing-sm;
        border-radius: $border-radius-sm 0 0 $border-radius-sm;
        color: $primary-color;
        width: min-content;
    }
}

.art-slide-right {
    transform: translateX(100%);
}

@media(max-width: 700px) {
    #sign-log-container {
        padding: $spacing-md 0;
        position: relative;
        flex-direction: row;
        max-width: 500px;
    }

    #art-slider {
        display: none;
    }
}