// Contact Page
#contact-container {
    width: 100%;
    height: 300px;
}

#contact-title {
    text-align: center;
    padding-bottom: $spacing-small;
}

#contact-body-container {
    display: flex;
    #contact-info,
    #contact-create-message {
        padding: $spacing-medium;
    }
}

#contact-info {
    width: 50%;
    background-color: $primary-color;
    border-radius: $border-radius-sm;
    max-width: 300px;
    height: min-content;
    margin-top: $spacing-medium;

    > * {
        margin-bottom: $spacing-small;
    }

    h3 {
        color: black;
        font-size: 22px;
    }

    div {
        color: black;
        font-size: 17px;
    }
}

#contact-link-buttons {
    margin-bottom: 0;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;

    button {
        background-color: transparent;
        svg {
            fill: black;
            font-size: 20px;
        }
    }
}

@media (max-width: #{$breakpoint-sm}){
    #contact-info {
        max-width: 100%;
        width: 100%;
        margin: 0;
    }

    #contact-title {
        margin-bottom: $spacing-medium;
    }

    #contact-body-container {
        flex-direction: column;
    }

    #contact-create-message {
        width: 100% !important;
        margin-left: 0 !important;
    }
}

#first-name-section {
    margin-right: $spacing-small;
}

#contact-email-input {
    width: 100%;
}

// Auth Page
#auth-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 400px;
}

#sign-log-container {
    overflow: hidden;
    margin: auto 0;
    background-color: $secondary-background-color;
    border-radius: $border-radius-lg;
    width: 100%;
    height: min-content;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: $spacing-medium;

    #login-container, #signup-container {
        width: 50%;
        border-radius: $border-radius-lg;
    }
}

#login-container {
    padding-left: $spacing-small;
}

#signup-container {
    padding-right: $spacing-small;
}

#art-slider {
    transition: transform 0.4s ease-in-out;
    position: absolute;
    height: calc(100% - 2*$spacing-medium);
    width: calc(50% - $spacing-medium);
    background-color: white;
    border-radius: $border-radius-lg;
    display: flex;
    align-items: center;
    background-color: transparent;

    img {
        object-fit:cover;
        width: 100%;
        height: 100%;
        border-radius: $border-radius-lg;
    }
}

#art-slider-header {
    position: absolute;
    bottom: $spacing-medium;
    left: $spacing-medium;
    background-color: $secondary-background-color;
    padding: $spacing-small;
    border-radius: $border-radius-sm;
    color: $primary-color;
    width: min-content;
}

.art-slide-right {
    transform: translateX(100%);
}