#season-container {
    display: flex;
    flex-direction: column;
}

#season-header {
    text-align: center;
}

#voting-component-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: $spacing-md;
    width: calc(100% - 1rem);
}

@media (max-width: #{$breakpoint-sm}){
    #voting-component-container {
        grid-template-columns: 100%;
        width: 100%
    }
}

// COMMENT SECTION CODE

.comment-section {
    margin: $spacing-sm 0;
    width: 100%;
}

.comments-container {
    display: flex;
    flex-direction: column;
    h3 {
        font-size: 23px;
        color: $primary-color;
        padding: 0 $spacing-md;

        p {
            display: inline;
            margin-left: $spacing-xs;
            color: $gray-lighter;
            color: $gray-lighter;
        }
    }
}

.comment {
    margin-top: $spacing-sm;
    padding: calc($spacing-sm + 2px) $spacing-md;
    border-radius: $border-radius-sm;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comment-pfp-container {
    width: 50px;
    display: flex;
    align-items:flex-start;
}

.comment-pfp {
    margin-top: $spacing-xs;
    margin-left: $spacing-xs;
    aspect-ratio: 1/1;
    width: 45px;
    border-radius: $border-radius-c;
    border: 1px solid $gray-lighter;
}

.comment-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.comment-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: calc($spacing-xs - 2px);

    .comment-writer {
        font-size: 18px;
    }

    .comment-misc-button {
        background-color: transparent;
        margin-right: $spacing-xs;
        margin-top: auto;
    }
}

.comment-content {
    color: $gray-lighter;
    font-size: 14px;
    margin-right: $spacing-sm;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-top: $spacing-xs;

    p {
        font-size: 14px;
    }

    .react-button-count {
        display: flex;
        align-items: center;
        margin-right: $spacing-sm;

        p {
            margin-left: calc($spacing-xs - 1px);
            display: inline;
        }
    }

    .comment-reaction-button {
        margin-right: $spacing-xs;
        background-color: transparent;
        display: flex;
        align-items: center;
    }
}

.comment-reply-button {
    background-color: transparent;
    margin-left: auto;
    margin-right: $spacing-sm;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .reply-icon {
        display: flex;
        align-items: center;
    }

    p {
        margin-left: $spacing-xs;
    }
}

// Creating a comment section

.create-comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-sm;
}

.comment-input-field {
    font-family: $primary-font;
    background-color: transparent;
    color: white;
    padding: $spacing-sm 0;
    border-bottom: 1px solid white;
    margin: 0 $spacing-md;
    outline: none;
    transition: $transition-instant;
}

.comment-input-field:focus {
    border-bottom: 1px solid $primary-color;
}

.create-comment-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 $spacing-md;
    padding-top: 10px;

    button {
        padding: $spacing-xs $spacing-sm;
        border-radius: 8px;
    }

    .cancel-comment-button {
        background-color: transparent;
        border: 1px solid $gray-lighter;
    }

    .create-comment-button {
        background-color: $primary-color;
        color: black;
    }
}