#season-container {
    @include flex(column);
}

#season-header {
    text-align: center;
}

#voting-component-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: $spacing-md;
    width: calc(100% - 1rem);
}

@media (max-width: #{$breakpoint-sm}){
    #voting-component-container {
        grid-template-columns: 100%;
        width: 100%
    }
}

// COMMENT SECTION CODE

.comment-section {
    margin: $spacing-sm 0;
    width: 100%;
}

.comments-container {
    display: flex;
    flex-direction: column;
    h3 {
        font-size: $font-size-lg;
        color: $primary-color;
        padding: 0 $spacing-md;

        p {
            display: inline;
            margin-left: $spacing-xs;
            color: $gray-lighter;
        }
    }
}

.comment {
    margin-top: $spacing-sm;
    padding: calc($spacing-sm + 2px) $spacing-md;
    border-radius: $border-radius-sm;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comment-pfp-container {
    width: 50px;
    display: flex;
    align-items:flex-start;
}

.comment-pfp {
    margin-top: $spacing-xs;
    margin-left: $spacing-xs;
    aspect-ratio: 1/1;
    width: 45px;
    border-radius: $border-radius-c;
    border: 1px solid $gray-lighter;
}

.comment-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: calc($spacing-sm + 2px);
}

.comment-top-bar {
    @include flex(row, space-between);
    margin-bottom: calc($spacing-xs - 2px);

    .comment-writer {
        font-size: $font-size-md;
    }
}

.comment-content {
    color: $gray-lighter;
    font-size: $font-size-sm;
    margin-right: $spacing-sm;
}

.comment-actions {
    @include flex(row, left);
    width: 100%;
    margin-top: $spacing-xs;

    p {
        font-size: $font-size-sm;
    }
}

// Comment section

.create-comment {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius-sm;
}

.create-comment-actions {
    @include flex(row, space-between);
    margin: 0 $spacing-md;
    padding-top: $spacing-sm;
}