#clan-results-container {
    margin-top: $spacing-lg;
    width: 100%;
    display: grid;
    column-gap: $spacing-md;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.clan-details-view {
    width: 100%;
    max-width: 700px;
}

.clan-header-details {
    width: 100%;
    padding: 0 0 0 $spacing-md;
    @include flex(row, space-between, center);
    border-bottom: 2px solid $primary-color;

    .clan-header-label {
        width: 100%;
        @include flex(row, space-between, center);
        flex-wrap: nowrap;

        h3 {
            color: $primary-color;
            text-wrap: nowrap;
            margin-right: $spacing-sm;
        }

        img {
            aspect-ratio: 1/1;
            height: 50px;
        }
    }
}

.clan-header-badge {
    margin-right: $spacing-sm;
}

.clan-header-cwl {
    margin-bottom: 2px;
    height: 48px !important;
    aspect-ratio: 1/1;
}

.clan-info-section {
    background-color: $secondary-background-color;
    padding: $spacing-md;
    border-radius: 0px 0px $border-radius-xs $border-radius-xs;
}

.clan-description {
    background-color: $secondary-background-color;
    margin-bottom: $spacing-sm;

    h5 {
        color: $primary-color;
    }
}

.clan-detail-cards {
    width: 100%;
    @include flex(row, left);
    flex-wrap: wrap;
    gap: 0px 30px;
}

.clan-card {
    h5 {
        color: $primary-color;
    }

    h6 {
        color: $gray-lighter;
    }
}

.clan-basic-card {
    p {
        color: $gray-lighter;
    }
}

.clan-labels {
    margin-top: $spacing-xs;
}

.clan-label-image {
    aspect-ratio: 1/1;
    height: 35px;
}

.clan-trophy-card {
    width: 140px;

    p {
        @include flex(row, space-between, center);
        span {
            @include flex(row, initial, center);
            img {
                aspect-ratio: 1/1;
                height: 16px;
            }
        }
    }
}

.clan-war-card {
    margin-bottom: $spacing-sm;
    width: 120px;

    p {
        @include flex(row, space-between, center);
    }
}

.clan-members-section {
    .clan-members-header {
        @include flex(row, space-between, center);
        margin-top: $spacing-md;
        padding: $spacing-sm $spacing-md;
        border-bottom: 2px solid $primary-color;

        h5 {
            color: $primary-color;

            p {
                display: inline;
                color: $gray-lighter;
                margin-left: $spacing-xs;
                margin-right: $spacing-md
            }
        }
    }
}

.clan-members-status {
    @include flex(row, initial, center);
    width: 100%;
    .clan-members-status-bar {
        margin-left: auto;
        position: relative;
        margin-right: $spacing-sm;
        max-width: 200px;
        width: 100%;
        height: 8px;
        background-color: color-fade($primary-color, 0.25);
        border-radius: $border-radius-lg;

        .clan-members-status-fill {
            position: absolute;
            height: 8px;
            background-color: $primary-color;
            border-radius: $border-radius-lg;
        }
    }
}

.clan-member-list {
    @include flex(column, space-between);
}

.clan-member-row {
    @include flex(row, space-between);
    background-color: $secondary-background-color;
    margin-bottom: $spacing-sm;
    border-radius: $border-radius-xs;
    padding: $spacing-sm $spacing-sm;
    transition: background-color $transition-instant;
    cursor: pointer;

    &:hover {
        background-color: $gray-darker;
    }
}

#clan-member-row-example {
    cursor: default;

    p {
        color: $primary-color;
    }

    #member-row-th-header {
        margin-right: calc($spacing-sm + 4px);
    }

    &:hover {
        background-color: $secondary-background-color !important;
    }
}

.member-row-count {
    text-align: center;
    width: 30px;
    margin: auto $spacing-xs auto 0;
    color: $primary-color;
}

.member-row-section {
    width: 30%;
    @include flex(row, center, center);
    margin-right: $spacing-xs;

    p, span {
        margin-right: $spacing-xs;
    }

    span {
        @include flex(row, initial, center);

        img {
            margin-right: $spacing-xs;
        }
    }

    .member-row-role {
        color: $gray-light;
    }
}

@media (max-width: #{$breakpoint-sm}) {
    .member-row-section {
        flex-direction: column;
    }
}

@media (max-width: 560px) {
    .member-trophy-section {
        width: 60px;
    }

    .member-name-info {
        p {
            font-size: $font-size-xs !important;
        }
    }

    #member-row-name-header {
        font-size: $font-size-md !important;
    }
}

.member-name-info {
    justify-self: left;
    flex-direction: column !important;
    width: max-content;
    min-width: 30%;
    
    p {
        text-align: center;
    }
}

.member-row-trophy-icon {
    aspect-ratio: 1/1;
    width: 20px;
}

.member-donation-section {

    p {
        @include flex(row, center, center);
    }
}

.out-dono-icon {
    fill: $success-color;
}

.in-dono-icon {
    fill: $error-color;
}

.member-row-th-icon {
    aspect-ratio: 1/1;
    height: 40px;
    width: 40px;
    margin: auto 0;
}

.th-count-header {
    color: $primary-color;
    margin-top: $spacing-md;
    padding: $spacing-xs $spacing-md;
    border-bottom: 2px solid $primary-color;
}

.th-count-container {
    background-color: $secondary-background-color;
    padding: $spacing-md;
    @include flex(row, left, center);
    flex-wrap: wrap;
    gap: $spacing-sm $spacing-sm;
    border-radius: 0 0 $border-radius-xs $border-radius-xs;

    .th-counter {
        @include flex(column, center, center);

        img {
            aspect-ratio: 1/1;
            width: 60px;
        }
    }
}