#account-container {
  @include flex(row, center);
}

.account-tab {
  max-width: 800px;
  width: 100%;
  border-radius: $border-radius-sm;
}

#account-header {
  background-color: $secondary-background-color;
  border-radius: $border-radius-xs $border-radius-xs 0 0;
  width: 100%;
  @include flex(row, space-between, center);
  padding: $spacing-md $spacing-md $spacing-md 0;
  height: 60px;
  margin-top: calc(30px);
  position: relative;
}

#account-pfp-container {
  border-radius: $border-radius-sm;
  @include box(60px);
  position: absolute;
  left: $spacing-md;
  bottom: 10px;
}

#account-pfp {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: $border-radius-sm;
  transform: scale(101%);
}

#account-username-change-header {
  color: $primary-color;
  font-size: $font-size-md;
  max-width: 400px;
}


#account-username {
  margin-left: calc(60px + $spacing-md * 2);
}

#account-body {
  padding: $spacing-sm $spacing-md $spacing-md $spacing-md;
  border-radius: 0 0 $border-radius-xs $border-radius-xs;
  display: flex;
  flex-direction: column;
  background-color: $secondary-background-color;
}

#account-body-nav {
  background-color: $secondary-background-color;
  @include flex(row, space-around, center);
  border-bottom: 2px solid $primary-color;
  width: 100%;
}

#account-content {
  width: 100%;
}

.account-content-tab {
  @include flex(column, column, left);
  width: 100%;
  margin-top: $spacing-sm;

  > * {
    margin-bottom: $spacing-sm;
  }
}

#account-settings-forms-container {
  @include flex(row, initial, center);
  column-gap: $spacing-md;
  margin: 0 !important;
}

@media (max-width: 530px) {
  #account-settings-forms-container {
    flex-direction: column;
  }
}

.pfp-color-options-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(24px + $spacing-xs), 1fr))
}

.pfp-character-options-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  column-gap: $spacing-sm
}

.saved-container {
  @include flex(row, center, top);
  column-gap: $spacing-sm;
}

.saved-container-tab {
  width: 50%;
}

@media (max-width: #{$breakpoint-sm}) {
  .saved-container {
    flex-direction: column;
  }

  .saved-container-tab {
    width: 100%;
  }
}

.saved-container-header {
  @include flex(row, center, flex-end);
  margin-bottom: $spacing-sm;

  h5 {
    color: $primary-color;
    text-align: center;
    // margin-left: $spacing-sm;
    // margin-right: $spacing-xs;
  }

  // p {
  //   color: $gray;
  //   font-size: $font-size-sm;
  //   padding-bottom: 1px;
  // }
}

.saved-card-row {
  @include flex(row, center, center);
}

.account-settings-pfp-footer {
  @include flex(row, right,center);
  margin-top: $spacing-sm;
}

.pfp-preview-layer {
  @include flex(row, center, center);

  p {
    margin-right: $spacing-sm;
  }
}

.pfp-preview-container {
  border-radius: $border-radius-sm;
  @include box(36px);
  margin-right: $spacing-md;
}

.pfp-preview {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: $border-radius-sm;
  transform: scale(101%);
}

@media (max-width: 530px) {
  .account-settings-pfp-footer {
    flex-direction: column;
    justify-content: center !important;
    margin-top: 0;
  }

  .pfp-preview-layer {
    margin-bottom: $spacing-md;
  }
}

@media (max-width: 475px) {
    .saved-container {
      flex-direction: column;
      column-gap: 0px;
    }

    .saved-container-tab {
        width: 100%;
    }
  }

@media (max-width: 400px) {
  #account-pfp-container {
    display: none;
  }

  #account-username {
    margin-left: $spacing-md;
  }

  #account-header {
    padding-bottom: 0px;
  }
}

// Admin panel

.admin-panel {
  padding: $spacing-md;
  padding-right: 0 !important;

  h3 {
    text-align: center;
    color: $primary-color;
    margin-bottom: $spacing-sm;
  }

  h5 {
    color: $primary-color;
    font-size: $font-size-md;
  }
}

.create-post {
  margin: 0;
  margin-top: $spacing-sm;
  @include flex(row, left, flex-end);
  column-gap: $spacing-md;

  div {
    width: 50%;
  }

  label {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .create-post {
    flex-direction: column;

    div {
      width: 100%;
    }

    input {
      margin-bottom: $spacing-sm;
    }
  }

  .create-post-btn {
    margin-top: $spacing-xs;
  }
}

.post-card-container-header {
  font-size: $font-size-sm;
  margin-top: $spacing-md;
}

.admin-post-cards-container {
  margin-top: $spacing-sm;
  width: 100%;
  @include flex(column);
}