#account-container {
    @include flex(row, center);
    @include box(100%);
}

.account-tab {
    max-width: 600px;
    width: 100%;
    border-radius: $border-radius-sm;
}

#account-header {
    background-color: $secondary-background-color;
    border-radius: $border-radius-sm $border-radius-sm 0 0;
    width: 100%;
    @include flex(row, space-between, center);
    padding-right: $spacing-md;
    height: 60px;
    margin-top: calc(60px);
    position: relative;
}

#account-pfp-container {
    border-radius: $border-radius-sm;
    @include box(60px);
    position: absolute;
    left: $spacing-md;
    bottom: $spacing-md;
}

#account-pfp {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: $border-radius-sm;
    transform: scale(101%);
}

#account-username {
    margin-left: calc(60px + $spacing-md*2);
}

#account-body {
    padding:  $spacing-sm $spacing-md $spacing-md $spacing-md;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    display: flex;
    flex-direction: column;
    background-color: $secondary-background-color;
}

#account-body-nav {
    @include flex(row, space-around, center);
    border-top: 2px solid $primary-color;
    width: 100%;
}

#account-content {
    width: 100%;
    padding-left: $spacing-md;
}

.account-content-tab {
    @include flex(column, column, left);
    width: 100%;

    > * {
        margin-bottom: $spacing-sm;
    }

    h5 {
        color: $primary-color;
        text-align: center;
    }
}

.pfp-color-options-container, .pfp-character-options-container {
    @include flex(row, left, center);
    flex-wrap: wrap;
    gap: 0px $spacing-sm;
}