.season-home-container {
}

.season-cards-container {
    width: 100%;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $spacing-sm;
    padding: 16px;

    div {
        border: 1px solid lime;
        height: 200px;
    }
}