// Vote Home
.vote-home-container {
  background-color: $secondary-background-color;
  border-radius: $border-radius-sm;

  .vote-home-header {
    @include flex(row, space-between, center);
  }

  h3 {
    margin: $spacing-md;
    margin-bottom: 0 !important;
    color: $primary-color;
  }

  .vote-dropdown-button {
    margin: $spacing-md;
    margin-bottom: 0 !important;
    background-color: $gray-darker;
    padding: $spacing-md;
    border-radius: $border-radius-xs;
  }
}

.vote-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: top;
  gap: $spacing-md;
  padding: 16px;
}

// Vote Post
.vote-post-container {
  margin: auto;
  max-width: 900px;
  min-height: 500px;
  height: calc(70vh);
  padding: $spacing-md;
  background-color: $secondary-background-color;
  border-radius: $border-radius-xs;
  @include flex(row, initial, flex-start);
  column-gap: $spacing-md;
}

.vote-result-container {
  width: 230px;
  padding: $spacing-md;
  background-color: color-fade(black, 0.4);
  border-radius: $border-radius-xs;
  position: relative;
  height: 100%;

  .vote-result-units {
    height: calc(100% - 28px);
    overflow: scroll;
  }
}

.vote-content-container {
  width: calc(100% - 230px);
  height: 100%;
  @include flex(column);

  .vote-post-header {
    @include flex(row, space-between, center);
    margin-bottom: $spacing-xs;
    padding: $spacing-sm 0;
  }
}

@media (max-width: 600px) {
  .vote-post-container {
    flex-direction: column !important;
  }
  
  .vote-result-container {
    width: 100%;
    order: 3;
    flex: 1;
    overflow: scroll;
  }

  .vote-content-container {
    height: auto;
    width: 100%;
    margin-bottom: $spacing-sm;

    .vote-post-comment-section {
      display: none !important;
    }
  }

  .view-comments {
    display: block;
  }
}

@media(max-width: 800px) {
  .vote-post-header {
    flex-direction: column !important;
    text-align: center;
  }

  .vote-voting-section {
    margin-top: $spacing-sm;
  }
}

.vote-post-comment-section {
  @include flex(column);
  padding: $spacing-md;
  background-color: color-fade(black, 0.4);
  border-radius: $border-radius-xs;
  flex: 1;
  overflow: scroll;

  .create-comment {
    @include flex(column, initial, flex-end);
    margin-bottom: $spacing-sm;
  }

  .comment-section {
    @include flex(column);

    .comment-section-header {
      @include flex(row, left, flex-start);
      margin-top: $spacing-xs;
      margin-bottom: $spacing-sm;

      h5 {
        font-size: $font-size-md;
      }

      .comment-count {
        font-size: $font-size-sm;
        color: $gray-light;
        margin-left: $spacing-xs;
      }

      button {
        padding: 0 !important;
        color: $gray-light;
        margin-left: auto;
      }
    }
  }
}

.comments-container {
    @include flex(column, left);
}
