.vote-home-container {
    background-color: $secondary-background-color;
    border-radius: $border-radius-sm;

    .vote-home-header {
        @include flex(row, space-between, center);
    }

    h3 {
        margin: $spacing-md;
        margin-bottom: 0 !important;
        color: $primary-color;
    }

    .vote-dropdown-button {
        margin: $spacing-md;
        margin-bottom: 0 !important;
        background-color: $gray-darker;
        padding: $spacing-md;
        border-radius: $border-radius-xs;
    }
}

.vote-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-items: top;
    gap: $spacing-md;
    padding: 16px;
}