#root {
    display: flex;
    flex-direction: column;
}

#main-navbar {
    border: $border-thickness-xs solid $border-color;
    border-radius: $border-radius-sm;
    padding: $spacing-medium $spacing-medium;
    background-color: $secondary-background-color;
    margin: $spacing-medium;
    margin-bottom: 0;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: $z-navbar;
    display: flex;
    flex-direction: row;
    width: calc(100vw - 2*$spacing-medium);
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
    padding-top: calc(80px + $spacing-medium);
}

#main-sidebar {
    border: $border-thickness-xs solid $border-color;
    border-bottom: none;
    border-top-left-radius: $border-radius-sm;
    border-top-right-radius: $border-radius-sm;
    margin: $spacing-medium $spacing-medium 0 $spacing-medium;
    padding: $spacing-medium $spacing-small;
    background-color: $secondary-background-color;
    width: 250px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: $z-sidebar;
}

#main-body {
    margin: 0 auto 0 auto;
    max-width: 1600px;
    border: 1px solid red;
    padding: $spacing-large;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 100px;
}

#non-interactable-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $non-interactable;
    z-index: $z-non-int-overlay;
}

@media (max-width: #{$breakpoint-md}) {
    #main-sidebar {
        top: calc(80px + $spacing-medium); 
        height: calc(100% - 80px - $spacing-medium);
        position: absolute;
        transform: translateX(-300px);
    }

    #bars-icon-button {
        display: inline !important;
    }
}

@media (max-width: #{$breakpoint-xs}) {
    #main-sidebar {
        top: calc(100px + $spacing-medium);
    }

    #main-container {
        padding-top: calc(100px + $spacing-medium);
    }
}
