#root {
    display: flex;
    flex-direction: column;
}

#main-navbar {
    border: $border-thickness-xs solid $border-color;
    border-radius: $border-radius-sm;
    padding: $spacing-medium $spacing-medium;
    background-color: $secondary-background-color;
    margin: $spacing-medium;
    margin-bottom: 0;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

#main-container {
    top: 80px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
}

#main-sidebar {
    border: $border-thickness-xs solid $border-color;
    border-radius: $border-radius-sm;
    margin: $spacing-medium;
    padding: $spacing-medium $spacing-small;
    background-color: $secondary-background-color;
    width: 250px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#main-body {
    margin: 0 auto 0 auto;
    max-width: 1600px;
    padding: $spacing-large;
    flex-grow: 1;
    overflow: auto;
    padding-bottom: 100px;
}

@media (max-width: #{$breakpoint-md}) {
    #main-sidebar {
        display: none;
    }

    #bars-icon-button {
        display: inline !important;
    }
}