// About Page
#about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about-us-title {
    width: min-content;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 $spacing-small;
    font-size: 30px;
    margin-bottom: $spacing-medium;
    padding-bottom: $spacing-small;
    border-bottom: 2px solid white;

    p {
        color: $primary-color;
        display: inline;
        font-size: 30px;
    }
}

#about-us-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-us-description {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: $spacing-medium;
    .desc-paragraph {
        margin-bottom: $spacing-small;
    }
}

#team-member-container {
    display: flex;
    margin-left: $spacing-large;
    justify-content: center;
    flex-wrap: wrap;
    height: min-content;
}

.team-member-card {
    border-left: 2px solid $primary-color;
    margin-bottom: $spacing-medium;
    margin-right: $spacing-medium;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: $spacing-small $spacing-medium;
    border-radius: 0 $border-radius-xs $border-radius-xs 0;
    background-color: $secondary-background-color;
    width: 320px;

    .team-member-pfp {
        margin-right: $spacing-medium;
        aspect-ratio: 1/1;
        border-radius: $border-circle;
        width: 50px;
    }

    .team-member-info {
        div {
            text-align: left;
        }

        .team-member-role {
            color: $offwhite-two;
        }
    }
}

@media(max-width: 780px){
    .team-member-card {
        width: 180px;
        flex-direction: column;

        .team-member-info {
            div {
                text-align: center !important;
            }
        }
    }
}

// Contact Page
#contact-container {
    width: 100%;
    display: flex;
    border: 1px solid $offwhite-two;
    height: 300px; 

    #contact-info, #contact-create-message {
        padding: $spacing-medium;
    }
}

#contact-info {
    width: 50%;
}

#contact-create-message {
    display: flex;
    flex-direction: column;
    border: 1px solid $offwhite-two;
    width: 50%;

    h4 {
        font-size: 17px;
        margin: 0 0 $spacing-small 0;

    }

    input, textarea {
        background-color: $secondary-background-color;
        padding: $spacing-small;
        transition: 0.4s;
        outline: none;
        border-bottom: 2px solid $bar-background;
        font-family: $primary-font;
    }

    input {
        margin-bottom: $spacing-small;
    }

    input:focus, textarea:focus {
        border-bottom: 2px solid $primary-color;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 80px;
    }
}

#contact-naming-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.contact-name-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    div, input {
        width: 100%;
    }
}

#first-name-section{
    margin-right: $spacing-small;
}

#contact-email-input {
    width: 100%;
}