#main-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#website-name-container {
    display: flex;
    flex-direction: column;
    h1 {
        font-family: "Poppins", sans-serif;
        color: white;
        font-weight: 400;
        span {
            color: $primary-color;
        }
    }
}

#nav-buttons-container {
    margin-left: auto;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.nav-button {
    background-color: transparent;
    svg {
        font-size: 23px;
    }
    img {
        color: white;
    }
}