#main-navbar {
    align-items: center;
}

#website-name-container {
    h1 {
        font-family: "Poppins", sans-serif;
        color: white;
        font-weight: 400;
        span {
            color: $primary-color;
        }
    }
}

#nav-buttons-container {
    margin-left: auto;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.nav-button {
    background-color: transparent;
    svg {
        fill: white;
        font-size: 23px;
        transition: $transition-duration $transition-ease;
    }

    &:hover {
        svg{
            fill: $border-color;
        }
    }
}

#nav-bars-icon-xs {
    display: none;
}

@media (max-width: #{$breakpoint-xs}) {
    #main-navbar {
        padding: $spacing-xsmall;
        flex-wrap: wrap;
        height: 210px;
    }

    #bars-icon-button {
        display: none !important;
    }

    #nav-bars-icon-xs {
        display: inline;
    }

    #website-name-container {
        margin: auto;
    }

    #nav-buttons-container {
        flex-basis: 100%;
    }
}
