#search-result-container {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;

    > * {
        margin-bottom: $spacing-large;
    }
}

#player-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: $spacing-small;
}

#player-base-flex {
    flex-direction: row;
    display: flex;
    > * {
        width: 49%;
    }
}

@media (max-width: #{$breakpoint-sm}) {
    #player-base-flex {
        flex-direction: column;

        > * {
            width: 100%;
        }
    }

    #player-builder-data {
        margin-top: $spacing-medium;
    }
}