#season-container {
    display: flex;
    flex-direction: column;
}

#season-header {
    text-align: center;
}

#voting-component-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: $spacing-medium;
    width: calc(100% - 1rem);
}

@media (max-width: #{$breakpoint-sm}){
    #voting-component-container {
        grid-template-columns: 100%;
        width: 100%
    }
}