#search-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchbar-container {
    width: 100%;
    display: flex;
    justify-content: center;

    > * {
        height: 50px;
    }
}

#searchbar {
    margin-bottom: $spacing-large;
    font-family: $primary-font;
    max-width: 700px;
    background-color: $secondary-background-color;
    width: 100%;
    border: 1px solid $border-color;
    text-decoration: none;
    outline: none;
    padding: 0px $spacing-medium;
    transition: border-color $transition-duration-slow;
}

#searchbar:focus {
    border: 1px solid $primary-color;
}

#searchbar-submit-button {
    border-left: none;
    background-color: $primary-color;
    border-top-right-radius: $border-radius-xs;
    border-bottom-right-radius: $border-radius-xs;
    aspect-ratio: 1/1;
    transition: background-color $transition-duration-slow;

    svg {
        position: relative;
        top: 2px;
        font-size: 23px;
        fill: black;
    }

    &:hover {
        background-color: rgba(228, 215, 39, 0.871);
    }
}

#searchbar-toggle {
    display: flex;
    background-color: $secondary-background-color;
    border-radius: $border-radius-sm;
    flex-direction: row;
    width: 80px;
    height: 50px;
    flex: 0 0 auto;
    position: relative;
    margin-right: $spacing-small;
}

.toggle-button {
    z-index: $z-toggle-icon;
    position: absolute;
    background-color: transparent;
    height: 50px;
    width: 40px;
    top: 2px;
}

.toggle-icon {
    fill: $primary-color;
    font-size: 20px;
}

#player-search-toggle {
    left: 0;
}

#clan-search-toggle {
    right: 0;
}

.shift-right {
    transform: translateX(39px);
}

#toggle-bg-slider {
    z-index: $z-toggle-slider;
    border-radius: $border-radius-sm;
    height: inherit;
    width: 50%;
    height: 50px;
    background-color: $leading-vote-bg;
    transition: transform $transition-duration-base ease-out;
}

#test-json {
    background-color: $primary-color;
    padding: $spacing-xsmall;
    transition: 0.15s;
    color: black;
}

#test-json:hover {
    background-color: $secondary-color;
}