#season-container {
    display: flex;
    flex-direction: column;
}

#season-title {
    padding-bottom: $spacing-medium;
    border-bottom: $border-thickness-xs solid $border-color;
    color: white;
}

.vote-section {
    margin-top: $spacing-medium;
}

.vote-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $spacing-medium;
    flex-wrap: wrap;
}

.vote-section-collapse {
    background-color: transparent;
    font-size: $font-size-large;
    margin-right: $spacing-small;

    svg {
        transition: $transition-duration-fast $transition-ease;
    }

    &:hover svg {
        transform-origin: center;
        rotate: -90deg;
    }
}

.vote-section-title {
    text-wrap: nowrap;
    color: $offwhite-one;
}

.vote-button {
    margin-left: auto;
    height: 30px;
    background-color: $primary-color;
    font-size: $font-size-sm;
    color: black;
    width: 60px;
    border-radius: $border-radius-xs;
    transition: background-color $transition-duration-base;

    &:hover {
        background-color: $secondary-color;
    }
}

@media (max-width: 400px) {
    .vote-button {
        margin-top: $spacing-small;
        flex-basis: 100%;
        width: 80px;
    }
}

.horizontal-bar-graph-container {
    background-color: $secondary-background-color;
    border-radius: 0px $border-radius-sm $border-radius-sm 0px;
    border-left: 4px solid $leading-vote-bg;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: $spacing-medium $spacing-medium;
}

.axis-name-leading {
    color: $primary-color !important;
}

.axis-name {
    font-size: $font-size-large;
    margin-bottom: $spacing-small;
    color: $offwhite-two;
}

.axis-section {
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: $spacing-medium;
    position: relative;
}

.axis-section-header {
    border-radius: $border-radius-sm;
    position: absolute;
    left: 5px;
    bottom: $spacing-small;
    margin-left: $spacing-small;
    width: 100px;
    height: 135px;
    overflow: hidden;
}

.axis-image {
    position: relative;
    width: 100%;
    object-fit: cover;
}

.test-won {
    background-color: $leading-vote-bg !important;
    border: 1px solid $primary-color !important;
}

.test {
    border-radius: $border-radius-sm;
    background-color: $losing-vote-bg;
    border: 1px solid $secondary-color;
    height: 100%;
    min-width: 130px;
    margin-left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.axis-percentage {
    position: absolute;
    z-index: 3;
    bottom: 0;
    background-color: rgba(111, 110, 110, 0.644);
    padding: 2px;
    border-radius: $border-radius-sm;
    font-size: $font-size-large;
}

#queen-test {
    width: calc(100px + 60%);
}

#king-test {
    width: calc(100px + 30%);
}

#gw-test {
    width: calc(100px + 20%);
}

#rc-test {
    width: calc(100px + 0%);
}
