.sidebar-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid $border-color;
}

.sidebar-link {
    color: white;
    text-wrap: nowrap;
    margin-bottom: $spacing-small;
    padding: $spacing-xsmall $spacing-medium;
    border-radius: $border-radius-xs;
    transition: $transition-ease $transition-duration;

    &:hover {
        background-color: $secondary-background-color;
    }
}

#top-sidebar {
    height: min-content;
    border-top: none;
}

#mid-sidebar {
    >:nth-child(1) {
        margin-top: $spacing-small;
    }
}

#bottom-sidebar {
    height: min-content;

    >:nth-child(1) {
        margin-top: $spacing-small;
    }
}