#main-sidebar {
    padding: 20px 15px;
}

.sidebar-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 1px solid $border-color;
}

#top-sidebar {
    height: min-content;
    border-top: none;
}

#mid-sidebar {

}

#bottom-sidebar {
    height: min-content;
}