.alert-banner {
    text-align: center;
    font-size: $font-size-sm;
    padding: $spacing-sm;
    border-radius: $border-radius-xs;
    width: 100%;
    margin-bottom: $spacing-md;
}

.alert-success {
    background-color: color-fade($success-color, 0.4);
}

.alert-error {
    background-color: color-fade($error-color, 0.4);
}

.alert-info {
    background-color: color-fade($primary-color, 0.4);
}