.alert-banner {
  width: 100%;
  text-align: center;
  font-size: $font-size-sm;
  padding: $spacing-sm;
  border-radius: $border-radius-xs;
  margin-bottom: $spacing-md;
  position: relative;
  transition: height 1s;
}

.alert-banner-type {
    font-weight: 600;
}

.alert-success {
  border: 1px solid $success-color;
  background-color: color-fade($success-color, 0.1);
  color: $success-color;
  transition: background-color $transition-instant;

  &:hover {
    background-color: color-fade($success-color, 0.25);
  }

  span {
    color: $success-color;
  }
}

.alert-error {
  border: 1px solid $error-color;
  background-color: color-fade($error-color, 0.1);
  color: $error-color;
  transition: background-color $transition-instant;

  &:hover {
    background-color: color-fade($error-color, 0.25);
  }

  span {
    color: $error-color;
  }
}

.alert-info {
  border: 1px solid $primary-color;
  background-color: color-fade($primary-color, 0.1);
  color: $primary-color;
  transition: background-color $transition-instant;

  &:hover {
    background-color: color-fade($primary-color, 0.25);
  }

  span {
    color: $primary-color;
  }
}
