.achievements-container {
    padding-bottom: $spacing-sm;
}

.base-ach-container {
    background-color: $secondary-background-color;
    border-radius: 0 0 $border-radius-xs $border-radius-xs;
}

.base-ach-container > div:last-child{
    border-bottom: none;
}

.ach-container {
    @include flex(row, initial, center);
    padding: $spacing-md;
    border-bottom: 1px solid $gray;
}

.ach-stars {
    @include flex(row);
    flex-wrap: nowrap;
    width: min-content;
    margin-right: $spacing-md;
}

.ach-star {
    width: 25px;
}

.ach-star-empty {
    width: 25px;
    opacity: 50%;
    filter: grayscale(40%);
}

.ach-body {
    @include flex(column, initial, left);
    max-width: 60%;
    margin-right: $spacing-md;
}

.ach-name {
    color: $primary-color;
}

.ach-progress {
    text-align: right;
    margin-left: auto;
}

.ach-completion {
    @include flex(row, right, center);
    p {
        font-size: 13px;
        color: $gray-lighter;
    }
}

.ach-progress-bar {
    @include box(170px, 10px);
    opacity: 0.8;
    border-radius: $border-radius-lg;
    background-color: color-fade($primary-color, 0.25);
    position: relative;
}

.ach-fill-bar {
    @include box(10px, inherit);
    border-radius: $border-radius-lg;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $primary-color;
}

.ach-progress-text {
    text-align: center;
    margin-bottom: $spacing-sm;
}

.ach-check {
    max-width: 20px;
    min-width: 20px;
    width: 20px;
    margin-left: $spacing-sm;
    fill: lime;
    font-size: $font-size-md;
}

.ach-percentage {
    display: none;
    color: $gray-lighter;
}

#ach-toggle-header {
    margin-top: $spacing-md;
    margin-bottom: 0;
}

#general-ach-header {
    text-align: center;
    color: $primary-color;
    margin-bottom: $spacing-sm;
}

@media (max-width: 700px) {
    .ach-completion-note, .ach-progress-bar, .ach-progress-text{
        display: none;
    }

    .ach-percentage {
        display: inline;
    }
}